<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	     crossorigin="anonymous">
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
	     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
	     crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
	     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>
	<body>
	
	
	
	
	<h1 style="text-align: center; padding: 50px;">Frequency Planning</h1>
  <br/>
   <form action="/home" method="post">
  <table border = "1" cellpadding="10" align="center">
 
  <tr>
      <th> <label for="transmitters">Number of Transmitters</label></th>
      <th><label for="frequency">Number of Frequency</label></th>
      <th><label for="site">Transmitters/Site</label></th>
       <th><label for="site">Number of Neighbours</label></th>
  </tr>
 
  <tr>
  <td><input type="number" id="transmitters" name="transmitters" min="0"> </td>
  <td><input type="number" id="frequency" name="frequency" min="0"> </td>
   <td><input type="number" id="site" name="site" min="0"> </td>
   <td><input type="number" id="neighbours" name="neighbours" min="0"> </td>
  
  </tr> 
  
  </table>
  <h1 align="center"><input style="text-align: center; padding: 10px 25px 10px 25px; margin-top: 50px" type="submit" value="Submit this by clicking here"/></h1>
  
  </form>
	
		
	</body>
</html>